* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}

/* Pre Header */
.pre-header {
  background-color: #fff;
  height: 50px;
  padding: 10px 0;
}
.pre-header h4 {
  display: inline;
  color: #474747;
  padding: 20px;
  font-size: 0.8rem;
  word-spacing: 7px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🛠</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.pre-header ul {
  list-style: none;
  display: inline;
}
.pre-header ul li {
  display: inline;
}
.pre-header ul li a {
  display: inline;
  padding: 0 10px;
  font-size: 0.9rem;
  color: #ff3f4a;
  transition: all 0.3s;
}
.pre-header ul li i:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #ff3f49cb;
}

/* Header */
header {
  background-color: #ff3f4a;
  height: 89px;
  padding-top: 33px;
}
header .logo h1 {
  display: inline-block;
  margin-top: -18px;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header .nav ul {
  list-style: none;
  display: inline;
}
header .nav ul li {
  display: inline;
  padding: 34px;
  height: 90px;
  cursor: pointer;
  transition: all 0.3s;
}
header .nav ul .now-page {
  background-color: #a60009;
}
header .nav ul li:hover {
  background-color: #a60009;
}
header .nav ul li a {
  display: inline;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
header .nav i {
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

/* Hero */
.hero {
  background-image: url("./img/01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero .hero2 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.hero .main-text h1 {
  position: relative;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hero .sec-text p {
  position: relative;
  top: 32vh;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.1rem;
  width: 40%;
}
.hero .button a {
  position: relative;
  top: 40vh;
  left: 36vw;
  display: inline;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.2s;
}
.hero .button .first {
  background-color: #ff3f4a;
  border: 1px solid #ff3f4a;
  transition: all 0.2s;
}
.hero .button a:hover {
  background-color: #ff3f4a;
  border: 1px solid #ff3f4a;
}
.hero .button .first:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

/* About Section */
.about {
  display: block;
  margin-top: -6%;
}
.about .first-text {
  display: block;
  background-color: #fff;
  text-align: center;
  max-width: 380px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 50px -20px #000000;
  box-shadow: 0px 0px 50px -20px #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.about .first-text:hover {
  background-color: #1c1d21;
  color: #fff;
}
.about .first-text i {
  color: #ff3f4a;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 43px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #0000005d;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5;
}
.about .first-text i:hover {
  color: #fff;
  background-color: #ff3f4a;
  border: 1px solid #ff3f4a;
  height: 100%;
}
.about .first-text h2 {
  display: block;
  padding: 0 0 15px 0;
  color: #474747;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.about .first-text p {
  display: block;
  padding: 15px 0 0 0;
  color: #474747;
  font-size: 1rem;
}
.about .sec-text {
  display: block;
  background-color: #1c1d21;
  text-align: center;
  max-width: 380px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 50px -20px #000000;
  box-shadow: 0px 0px 50px -20px #000000;
  cursor: pointer;
  transition: all 0.5s;
}
.about .sec-text i {
  color: #fff;
  background-color: #ff3f4a;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 43px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ff3f4a;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1;
}
.about .sec-text h2 {
  display: block;
  padding: 0 0 15px 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.about .sec-text p {
  display: block;
  padding: 15px 0 0 0;
  color: #fff;
  font-size: 1rem;
}

/* Main Section */
.main-section {
  display: block;
  margin: 80px 0 20px 0;
  padding: 40px 0 40px 0;
}
.main-section h2 {
  display: block;
  color: #474747;
  padding: 20 0 15px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main-section .first-text {
  display: block;
  margin: 20px 0 20px 0;
  padding: 40px 0 20px 0;
}
.main-section .first-text .text {
  display: block;
  text-align: start;
  color: #474747;
  padding: 20px;
  max-width: 380px;
}
.main-section .first-text .text h3 {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-break: 1;
  cursor: pointer;
  transition: all 0.2s 0.8s;
}
.main-section .first-text .text h3:hover {
  color: #ff3f4a;
}
.main-section .first-text .text i {
  font-size: 2.2rem;
}
.main-section .first-text .text p {
  display: block;
  padding: 20px 0 0 0;
}
.main-section .sec-text {
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
.main-section .sec-text .text {
  display: block;
  text-align: start;
  color: #474747;
  padding: 20px;
  max-width: 380px;
}
.main-section .sec-text .text h3 {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-break: 1;
  cursor: pointer;
  transition: all 0.4s 0.8s;
}
.main-section .sec-text .text h3:hover {
  color: #ff3f4a;
}
.main-section .sec-text .text i {
  font-size: 2.2rem;
}
.main-section .sec-text .text p {
  display: block;
  padding: 20px 0 0 0;
}
.main-section a {
  position: relative;
  left: 40%;
  display: block;
  padding: 10px 15px;
  max-width: 220px;
  background-color: #ff3f4a;
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #ff3f4a;
  cursor: pointer;
  transition: all 0.3s;
}
.main-section a:hover {
  background-color: transparent;
  color: #474747;
  border: 1px solid #474747;
}

/* Gallery Section */
.gallery-section {
  display: block;
  margin: 80px 0 20px 0;
  padding: 40px 0 40px 0;
}
.gallery-section h2 {
  display: block;
  color: #474747;
  padding: 20 0 15px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.gallery-section .photo {
  padding: 80px 0 0 0;
}
.gallery-section .photo .item {
  display: block;
  max-width: 261px;
}
.gallery-section .photo .item .imgover {
  position: relative;
  transition: all 0.5s;
}
.gallery-section .photo .item .imgover:hover {
  -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.7);
  position: relative;
  top: -12px;
  height: 271px;
  width: 271px;
}
.gallery-section .photo .item figcaption {
  display: block;
  color: #474747;
  text-align: center;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding: 30px 0 0 0;
}

/* Commentar Section */
.commentar-section {
  background-image: url(./img/01.png);
}
.commentar-section .back {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 80px 0 20px 0;
  padding: 80px 0 80px 0;
}
.commentar-section h2 {
  display: block;
  color: #fff;
  padding: 20 0 15px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.commentar-section .text {
  display: block;
  padding: 60px;
}
.commentar-section .text p {
  display: block;
  padding: 30px 20px 30px 25px;
  background-color: #f4f4f4;
  color: #474747;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  text-align: start;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.6s;
}
.commentar-section .text p:hover {
  background-color: #a60009;
  color: #f4f4f4;
  border: 1px solid #a60009;
}
.commentar-section .text .user {
  display: block;
  padding: 10px 0 20px 10px;
}
.commentar-section .text .user img {
  display: inline;
  border: 1px solid transparent;
  border-radius: 50%;
}
.commentar-section .text .user h4 {
  display: inline;
  position: relative;
  top: -10px;
  padding: 10px;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.commentar-section .text .user h4 span {
  display: block;
  position: relative;
  top: -30px;
  left: 65px;
  padding: 10px;
  color: #f4f4f4;
  font-style: italic;
  font-size: 0.8rem;
  font-family: "Times New Roman", Times, serif;
}
.commentar-section a {
  position: relative;
  left: 40%;
  display: block;
  margin-top: -60px;
  padding: 10px 15px;
  max-width: 250px;
  background-color: #ff3f4a;
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #ff3f4a;
  cursor: pointer;
  transition: all 0.3s;
}
.commentar-section a:hover {
  background-color: transparent;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
}

/* Read Section */
.read {
  display: block;
  margin: 80px 0 20px 0;
  padding: 40px 0 60px 0;
}
.read h2 {
  display: block;
  color: #474747;
  padding: 20 0 15px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.read .item {
  display: block;
  padding-top: 80px;
  max-width: 348px;
}
.read .item h3 {
  display: block;
  padding-top: 30px;
  padding-bottom: 8px;
  color: #474747;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
}
.read .item .sec-text {
  display: block;
}
.read .item .sec-text img {
  display: inline;
  height: 16px;
  width: 16px;
}
.read .item .sec-text h5 {
  display: inline;
  color: #ff3f4a;
  margin-top: 60px;
  padding: 0 10px 0 10px;
  border-right: 1px solid #1c1d21;
  font-size: 0.9rem;
  cursor: pointer;
}
.read .item .sec-text i {
  display: inline;
  color: #474747;
  margin-top: 60px;
  padding: 0 10px 0 10px;
  font-size: 0.9rem;
}
.read .item .sec-text h6 {
  display: inline;
  color: #474747;
  margin-top: 60px;
  padding: 0 10px 0 0px;
  font-size: 0.9rem;
}
.read .item p {
  display: block;
  padding: 15px 0 0 0;
  color: #474747;
  font-size: 1rem;
}
.read .item p span {
  color: #ff3f4a;
  font-weight: 600;
  cursor: pointer;
}
.read .item a {
  display: block;
  margin-top: 30px;
  padding: 10px;
  background-color: #ff3f4a;
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 120px;
  border: 1px solid;
  transition: all 0.5s;
}
.read .item a:hover {
  background-color: transparent;
  color: #474747;
  border: 1px solid #474747;
}

/* Footer */
footer {
  display: block;
  color: #a5a6aa;
  background-color: #27282e;
  padding: 80px;
}
footer .item h3 {
  display: block;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer .item .text h5 {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.5s;
}
footer .item .text h5:hover {
  color: #a5a6aaa2;
}
footer .item .text h5 i {
  display: inline;
  padding: 10px;
}
footer .item .text .icon {
  margin: 80px 0 0 0;
  text-align: center;
}
footer .item .text .icon i {
  display: inline;
  margin: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #a5a6aa;
  background-color: #161616;
}
footer .item .text .icon .fa-facebook-square {
  padding: 10px 12px 10px 12px;
  transition: all 0.5s;
}
footer .item .text .icon .fa-facebook-square:hover {
  background-color: #3b5998;
}
footer .item .text .icon .fa-google-plus-g {
  padding: 10px 10px 10px 10px;
  transition: all 0.5s;
}
footer .item .text .icon .fa-google-plus-g:hover {
  background-color: #db4a39;
}
footer .item .text .icon .fa-linkedin {
  padding: 10px 12px 10px 12px;
  transition: all 0.5s;
}
footer .item .text .icon .fa-linkedin:hover {
  background-color: #0e76a8;
}
footer .item .text .icon .fa-twitter {
  padding: 10px 10px 10px 10px;
  transition: all 0.5s;
}
footer .item .text .icon .fa-twitter:hover {
  background-color: #00acee;
}
footer .item .text .icon .fa-vk {
  padding: 10px 11px 10px 11px;
  transition: all 0.5s;
}
footer .item .text .icon .fa-vk:hover {
  background-color: #4e658e;
}
footer .item .text2 p {
  color: #ff3f4a;
  cursor: pointer;
  transition: all 0.5s;
}
footer .item .text2 p:hover {
  color: #ff3f4977;
}
footer .item .text2 h5 {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.5s;
}
footer .item .text2 h5:hover {
  color: #a5a6aaa2;
}
footer .item .text4 .item {
  padding: 5px;
}

/* Pre Footer */
.pre-footer {
  height: 60px;
  color: #a5a6aa;
  background-color: #1c1d21;
}
.pre-footer .item h4 {
  position: relative;
  margin-top: 20px;
  display: block;
  float: left;
  font-size: 1rem;
  line-height: 1.6em;
  font-family: Verdana, Geneva, sans-serif;
}
.pre-footer .item2 h4 {
  position: relative;
  margin-top: 20px;
  display: block;
  float: right;
  font-size: 1rem;
  line-height: 1.6em;
  font-family: Verdana, Geneva, sans-serif;
}
